<div class="container">
    <div class="card-top border-bottom"><a class="btn-secondary continue" routerLink="/home">Back to shop</a></div>
    <div class="row" *ngIf="!orderConfirmation">
        <div class="col-sm-4" data-height="260" data-paginations="true" data-search="true" data-visible-search="true">
            <h2>Order Summary</h2>
            <div>
                <div class="form-group form-inline">
                    &nbsp; Search product by name:
                    <input class="form-control ml-2" type="text" name="searchText" [(ngModel)]="searchText" />
                </div>
                <div *ngFor="let product of cartArray | slice: (page-1) * pageSize : page * pageSize | searchByNamePipe: searchText"
                    class="card item">
                    <img src="{{product.image}}" class="card-img-top" />
                    <div class="card-body item">
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <p class="card-text">
                            <span class="item-price">{{product.amount}} * {{product.product_price}}₪ =
                                {{product.sum_price}}₪</span>
                            <span class="card-subtitle"> <input name="amount" readonly class="amount_items"
                                    placeholder="Amount:{{product.amount}}"></span>
                        </p>
                    </div>
                </div>
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="4" [boundaryLinks]="true"
                    [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
                <div class="total">
                    <span>Total</span>
                    <span class="totalprice">₪{{totalPrice}}</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="card payment">
                    <h2 class="order-title">Place your order</h2>
                    <div class="card-body p-md-4">
                        <form [formGroup]="orderForm" (ngSubmit)="completeOrder()">
                            <!-- city name -->
                            <div class="form-group">
                                <input formControlName="city"
                                    [class.is-invalid]="cityField.touched && cityField.invalid" type="text"
                                    class="form-control" placeholder="City" minlength="2">
                                <div *ngIf="cityField.touched && cityField.hasError('required')"
                                    class="d-block invalid-feedback">
                                    Please
                                    provide a city for delivery.</div>
                            </div>
                            <!-- street name -->
                            <div class="form-group">
                                <input formControlName="street"
                                    [class.is-invalid]="streetField.touched && streetField.invalid" type="text"
                                    class="form-control" placeholder="Enter street name">
                                <div *ngIf="streetField.touched && streetField.hasError('required')"
                                    class="d-block invalid-feedback">Please
                                    enter your street name.</div>
                            </div>
                            <!-- date picker -->
                            <div class="form-group">
                                <input formControlName="date"
                                    [class.is-invalid]="dateField.touched && dateField.invalid" type="text"
                                    placeholder="Datepicker" class="form-control" bsDatepicker 
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true, containerClass: 'theme-blue', dateTooltipTexts: selectedDates, minDate: this.twoDaysAhead, adaptivePosition: true}" placeholder="dd/mm/yyyy" [dateCustomClasses]="dateCustomClasses">
                                <div *ngIf="dateField.touched && dateField.hasError('required')"
                                    class="d-block invalid-feedback">Please
                                    enter shipping date.</div>
                            </div>
                            <hr>
                            <!-- credit card -->
                            <div>
                                <p class="h7 fw-bold mb-1">Payments:</p>
                                <p class="textmuted h8 mb-2">Make payment for this order by filling in the details</p>
                                <div class="row">
                                    <div class="col-12">
                                        <span class="far fa-credit-card"></span>
                                        <input formControlName="creditCard"
                                            [class.is-invalid]="creditCardField.touched && creditCardField.invalid || creditCardField.errors?.pattern"
                                            class="form-control credit" type="text" placeholder="Card number">
                                    </div>
                                    <div *ngIf="creditCardField.touched && creditCardField.hasError('required') || creditCardField.errors?.pattern"
                                        class="d-block invalid-feedback credit">Please
                                        enter a valid card.</div>
                                    <div class="col-6"> <input class="form-control my-3" type="text"
                                            placeholder="MM/YY"> </div>
                                    <div class="col-6"> <input type="password" maxlength=3 class="form-control my-3"
                                            type="text" placeholder="CVV">
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="orderForm.invalid"  class='form-control btn btn-primary submit-button' type='submit'>Place Order
                                »</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- confiramtion Modal -->
        <ng-template #content let-c="close" let-d="dismiss" id="confirm-modal">
            <div class="w-full h-full max-w-lg bg-white shadow-md flex flex-col rounded-xl">
                <div class="flex flex-row items-center justify-end">
                    <button class="button py-3 px-6 rounded-xl" (click)="d('Cross click')">
                        <fa-icon class="text-l" [icon]="faTimes"></fa-icon>
                    </button>
                </div>
                <img class="h-24 place-self-center" src="assets/order-confirmation.svg" />
                <h2 class="mt-5 mx-5 text-2xl text-center font-bold flex-1">Thank you for your Order!</h2>

                <p class="m-5 text-l text-center font-medium">
                    Your order has been placed successfully. Your payments receipt will begin download in a moment
                    <b>Note:</b> If your download did not start automatically, please click on the
                    button below.
                    You will be redirected shortly to the main page...
                </p>
                <div class="modal-footer">
                    <button class="btn btn-primary download" (click)="openPDF()">Download PDF</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<!-- Order Receipt -->
<div class="container mt-2" *ngIf="paymentReceipt">
    <div class="col-md-8" id="htmlData" #htmlData>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="d-flex flex-row p-2">
                        <div class="d-flex flex-column"> <span class="font-weight-bold">Order Invoice</span> </div>
                    </div>
                    <hr>
                    <div class="table-responsive p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>To</td>
                                </tr>
                                <tr class="content">
                                    <td class="font-weight-bold">{{user.firstName}} {{user.lastName}}<br>Email: {{user.email}} <br>{{user.city}}, {{user.street}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="products p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>Product Name</td>
                                    <td>Product Price</td>
                                    <td>amount</td>
                                    <td class="text-center">Total</td>
                                </tr>
                                <tr *ngFor="let product of cartArray" class="content">
                                    <td>{{product.product_name}}</td>
                                    <td>{{product.amount}}</td>
                                    <td>{{product.product_price}}₪</td>
                                    <td class="text-center">{{product.sum_price}}₪</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <tr class="total receipt">
                            <td class="alignright" width="80%">Total</td>
                            <td class="alignright">{{totalPrice}} ₪</td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>