<div class="webInfo">
    <p>
      Fresh Market, Inc. is not responsible for any content on external
      Web sites. © 2021 Fresh Market, Inc. a web development company.
      All rights reserved.
    </p>
</div>

  <!-- <div class="footer-content">
      <h3>Fresh Market</h3>
      <p>Fresh Market, Inc. is not responsible for any content on external
          Web sites. © 2021 Fresh Market, Inc. a web development company.
          All rights reserved.</p>
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
       </ul>
  </div> -->

