<app-header-cart></app-header-cart>
<hr>
<div class="hwrap">
  <div class="hmove" id="tickerContainer">
    <div class="hitem" id="p0">
      <fa-icon class="icons" [icon]="faTruck"></fa-icon>
      <span class="scroll-bar-text">Fast delivery</span>&nbsp;
      <fa-icon class="icons clock" [icon]="faClock"></fa-icon>
      <span class="scroll-bar-text timeslot">Available Timeslots</span>&nbsp;
      <span class="scroll-bar-text discount">10% on first order</span>&nbsp;
      <span><img src="https://i.ibb.co/ZYyH1Pm/fresh4.png" class="scroll-bar-image"></span>
      <span class="scroll-bar-text change" id="p12">Quality and Fresh</span>&nbsp;
    </div>
  </div>
</div>
<div class="filterPrice">
  <label for="customRange1" class="form-label form-control">Minimum Price: {{minPrice}}</label><br>
  <input type="range" class="form-range" id="customRange1" [(ngModel)]="minPrice">
</div>
<div class="cardsContainer">

  <app-header search>
    <div class="d-flex fixed-top input-group w-auto">
      <input type="search" class="searchB" placeholder="Search in fresh Market" aria-label="Search"
        [(ngModel)]="searchText" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
    </div>
  </app-header>
  <app-card *ngFor="let product of products| searchByNamePipe: searchText| minPricePipe :minPrice " [product]="product">
  </app-card>
</div>
<hr>